# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- List populat tools for Data Science
- Arithmetic equations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebook |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Mahmoud Ayman Masoud